body {
margin: auto;
    max-width: 2280px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header {
    position: sticky;
    top: 0px;

}
.mmm{
    height:25px ;
    width: 25px;
}
 .head-one {
    background-color: #F85606;
    height: 120px;
    margin: 0px;
}
.nnn{
    width: 170px;
}
.head-link {
    display: flex;
    gap: 30px;
    justify-content: right;
    margin-right: 200px;
}

.head-link a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.head-search {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.search-in-daraz input {
    height: 50px;
    width: 700px;
}

.head-search1 {
    display: flex;
    height: auto;
    width: auto;
    margin-right: 70px;
}

.search-in-daraz1 {
    background-color: #FFE1D2;
    width: 20PX;
    height: 25PX;
    padding: 12PX 18PX;
}

.search-in-daraz-icon {
    margin-left: 30px;
    padding: 10px 0px;
}
.bbb{
    height: 30px;
    width: 30px;
}
.search-in-daraz0 {
    margin-right: 60px;
    
}
.oop{
    height:40px ;
    width: 170px;
}

.add {
    height: 400px;
    width: 900px;
    margin-left: 400px;
}

.box {
    background-color: #FFE1D2;
}

.add0 {
    display: flex;

    margin-right: 450px;
}

.add1 {
    display: flex;
    bottom: 0px;
    align-items: center;
    gap: 15px;
}

.add-img {

    margin-left: 10px;
    height: 30px;
    width: 180px;
}

.add-img span {
    color: white;
}
.lll{
     height:40px; 
     width:20px;
}

.add-text {
    background-color: #F85606;
    color: white;
    margin-top: 60px;
    width: 180px;
}

.add-p {
    padding-left: 30px;
    font-size: 30px;
    background-color: #F85606;
    color: white;
}

.add3 {
    margin-left: 10px;
}

.add-img1 {
    margin-left: 400px;
    height: 150px;
    width: 1100px;
}

.h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 400PX;
}

.p1 {
    color: #F85606;

}

.button {
    color: #F85606;
    border: 0.5px solid #F85606;
    margin-left: 900px;


}

.b1 {
    display: flex;
    background-color: #FFFFFF;
    margin-left: 400px;
    margin-right: 400px;
    height: 70px;
}

body {
    background-color: #F5F5F5;
}
  .box-pic {
  margin-left: 400px;
  border: 1PX solid black;
  margin-top: 0%;
 }
  .box-pic-line2 {
  margin-left: 400px;
  border: 1PX solid black;
  margin-top: 0%;
 }
 .box-pic-line3 {
  margin-left: 400px;
  border: 1PX solid black;
  margin-top: 0%;
 }
 .box-pic-line4 {
  margin-left: 400px;
  border: 1PX solid black;
  margin-top: 0%;
 }
 .box-pic-line5{
  margin-left: 400px;
  border: 1PX solid black;
  margin-top: 0%;
 }
 .box-pic-line6 {
  margin-left: 400px;
  border: 1PX solid black;
  margin-top: 0%;
 }
 .box-pic-line7 {
  margin-left: 400px;
  border: 1PX solid black;
  margin-top: 0%;
 }
 .box-pic-line8 {
  margin-left: 400px;
  border: 1PX solid black;
  margin-top: 0%;
 }
 .box-pic-line9 {
  margin-left: 400px;
  border: 1PX solid black;
  margin-top: 0%;
 }
 .box-pic-line10 {
  margin-left: 400px;
  border: 1PX solid black;
  margin-top: 0%;
 }
 .box-pic-line11 {
  margin-left: 400px;
  border: 1PX solid black;
  margin-top: 0%;
 }
  .box-pic-a {
  margin-left: 400px;
  border: 1PX solid black;
  margin-top: 0%;
 }

.box-a {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
.box-b {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}
    .PP1 {
        margin-top: 0px;
        margin-left: 10px;
    }

    .PP2 {
        margin-top: 0px;
        margin-left: 10px;

    }

    .PP3 {
        margin-top: 0px;
        margin-left: 10px;

        text-decoration: line-through;
    }

.pp3 span {
    text-decoration: none;
}

.box-pic1 {
    border: 1PX solid black;
}
.box-pic-1 {
    border: 1PX solid black;
}
.box-pic2 {
    border: 1PX solid black;
}
.box-pic3 {
    border: 1PX solid black;
}
.box-pic4 {
    border: 1PX solid black;
}
.box-pic5 {
    border: 1PX solid black;
}
.box-pic6 {
    border: 1PX solid black;
}
.box-pic7 {
    border: 1PX solid black;
}
.box-pic8 {
    border: 1PX solid black;
}
.box-pic9 {
    border: 1PX solid black;
}
.box-pic10 {
    border: 1PX solid black;
}

.box-pic11 {
    border: 1PX solid black;
}
.box-pic12 {
    border: 1PX solid black;
}

.star {
    height: 15px;
    width: 15px;
    margin: 0%;
}

.View {
    margin-left: 700px;
    height: 70px;
    width: 400px;
    margin-top: 40px;
    border: 0.5 solid #1A9CB8;
    color: #1A9CB8;
}

.sec {
    margin-left: 360px;
    margin-top: 40px;
}

.sec li {
    list-style: none;
    padding-right: 20px;
}

.sec a {
    text-decoration: none;
    color: black;
}

.sec section {
    margin-left: 40px;
}

.sec0 {
    display: flex;
}

.sec1 {
    margin-left: 50px;
    margin-top: 40px;
}

.sec1 a {
    text-decoration: none;
    color: black;
}

.sec1 section {
    margin-left: 40px;
}

.sec1 li {
    list-style: none;
    padding-right: 20px;
}

.dd {
    margin-top: 50px;
    margin-left: 40px;
     height:65px;
      width:40px;
}

.pl1 {
    color: #F85606;
}

.p0 {
    margin-top: 40px;
    margin-left: 10px;
}

.apple {
    margin-top: 50px;
    margin-left: 30px;
    height:50px;
     width:150px;
}

.apple1 {
    margin-left: 0px;
    margin-top: 20px;
height:60px ;
width: 150px;
}
.zz{
    height: 50px;
    width: 50px;
}

.acc0 {
    margin-left: 400px;
    margin-top: 30px;
    height: 60px;
    width: 100px;
    display: flex;
    gap: 20px;
}

.w1 {
    margin-top: px;
    margin-left: 1100px;
}

.accc {
    margin-left: 100px;
    margin-top: 0px;
}

.finish {
    background-color: #F4F4F6;
    display: flex;
}

.fi1 {
    margin-left: 250PX;
    margin-top: 70PX;

    width: 200px;
}

.fi2 {
    margin-top: 70PX;
    margin-left: 180px;
    width: 200px;
}
.qqqq{
    text-decoration: none;
    color: black;
}

.q2 {
    margin-left: 250px;
    height: 30px;
    width: 30px;
}
.za{
    height: 30px;
    width: 30px;
}

.P9 {
    margin-left: 250PX;
    font-size: 20PX;
    display: inline-block;
}

.p8 {
    margin-top: 90px;
    font-size: 20PX;
    display: inline-block;
    margin-left: 500px;
}

.as1 {
    margin-left: 170px;
}

.as2 {
    margin-left: 20px;
    height: 30px;
    width: 30px;
}

.mm1 {
    font-size: 20PX;
    margin-left: 400px;
    display: inline-block;

}

.lo1 {
    margin-bottom: 30px;
}

footer {
    background-color: #F5F5F5;
}
.ggg{
    height: 200px;
    width: 160px;
}
.nm1 {
    position: fixed;
    right: 90px;
    bottom: 10px;
    color: #1A9CB8;

}

.aaa1 {
    height: 40PX;
    width: 190PX;
    color: #1A9CB8;
}

.sss1 {
    color: #1A9CB8;
}
@media screen and (max-width: 375px) {
    body{
        max-width: 375px;
        margin:auto;
    }
    header {
    position:fixed;
    top: 0px;
}
.head-one {
    background-color: #F85606;
    height: 50px;
    max-width: 375px;
    margin: 0px;
}

.head-link {
    display: flex;
    gap: 10px;
    justify-content: right;
    margin-right: 5px;
}
#t-icon{
    font-size: 5px;
    margin-top: 1px;
}
.head-search {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.search-in-daraz0 {
   margin-left: 60px;
   margin-right: 30px;
   
}
.oop{
    height:15px ;
    width: 50px;
    
}
.search-in-daraz input {
    height: 18px;
    width: 200px;
}
.head-search1{
     display: flex;
    height: auto;
    width: auto;
    margin-right: 100px;
}
.search-in-daraz1 {
    background-color: #FFE1D2;
    width: 0PX;
    height: 4PX;
    padding-top: 2px;
    padding-left:4px ;
    }
.mmm{
    height: 10px;
    width: 10px;
  
}
.bbb{
    height: 18px;
    width: 18px;
}
.search-in-daraz-icon {
    margin-left: 10px;
    padding: 4px 0px;
}
.add0 {
    display: flex;

    margin-right: 40px;
}
.add {
    height: 125px;
    width: 300px;
    margin: 0px;
}
.box {
    background-color: #FFE1D2;
     height: 107px;
    width: 75px;

}
.nnn{
     height: px;
    width: 75px;
}
.add1 {
    display: flex;
    bottom: 0px;
    align-items: center;
    gap: 5px;
}
.lll{
     height:10px; 
     width:10px;
}
#we{font-size: 10px;}
.add-img-{
height: 5px;
}
.add-text {
    background-color: #F85606;
    color: white;
    margin-top: 60px;
    width: 180px;
}   
.add-p {
    padding-left: 10px;
    font-size: 10px;
    background-color: #F85606;
    margin: 0px;
    color: white;
}
.add3 {
    margin-left: 10px;
    height: 50px;
    width: 50px;
    margin-top: 5px;
}
.add-img1 {
    margin-left: 0px;
    height: 75px;
    width: 375px;
}
.h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 0PX;
    font-size: 10px;
    margin-top: 20px;
}   
.b1 {
    display: flex;
    background-color: #FFFFFF;
   margin: 0px;
    height: 21px;
}
.button {
    color: #F85606;
    border: 0.5px solid #F85606;
    margin-left: 300px;
    height: 20px;
    width: 30px;


}
.p1 {
    color: #F85606;
 font-size: 5px;
}
.kkk{
    font-size: 5px;
        margin: 0px;

}
#ggg{
    height: 200px;
    width: 160px;
    padding-left: 20px;
    margin: auto;
}
.box-a {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-left:5px ;
    margin-right:5px ;
    height: 90px;
    width: 90px;
}
.box-pic {
    margin-left: 0px;
    border: 1PX solid black;
    margin-top: 0px;
     height: 100px;
    width: 73px;

}
.box-pic-line2{
     margin-left: 0px;
    border: 1PX solid black;
     height: 120px;
    width: 73px;
}
.box-pic-line3{
     margin-left: 0px;
    border: 1PX solid black;
     height: 120px;
    width: 73px;
    margin-top: 30px;
}
.box-pic1 {
    margin-left: 0px;
    border: 1PX solid black;
    margin-top: 0%;
     height: 100px;
    width: 73px;
}
.box-pic-1{
   margin-left: 0px;
    border: 1PX solid black;
    margin-top: 0%;
     height: 120px;
    width: 73px;

}
.box-pic-line4{
     margin-left: 0px;
    border: 1PX solid black;
     height: 120px;
    width: 73px;
    margin-top: 60px;
}
.box-pic3 {
    margin-left: 0px;
    border: 1PX solid black;
    margin-top: 60px;
     height: 120px;
    width: 73px;
}
.box-pic-line5{
     margin-left: 0px;
    border: 1PX solid black;
     height: 120px;
    width: 73px;
    margin-top: 90px;
}
.box-pic4 {
    margin-left: 0px;
    border: 1PX solid black;
    margin-top: 90px;
     height: 120px;
    width: 73px;
}
.box-pic-line6{
     margin-left: 0px;
    border: 1PX solid black;
     height: 120px;
    width: 73px;
    margin-top: 120px;
}
.box-pic5 {
    margin-left: 0px;
    border: 1PX solid black;
    margin-top: 120px;
     height: 120px;
    width: 73px;
}
.box-pic-line7{
     margin-left: 0px;
    border: 1PX solid black;
     height: 120px;
    width: 73px;
    margin-top: 150px;
}
.box-pic6 {
    margin-left: 0px;
    border: 1PX solid black;
    margin-top: 150px;
     height: 120px;
    width: 73px;
}
.box-pic-line8{
     margin-left: 0px;
    border: 1PX solid black;
     height: 120px;
    width: 73px;
    margin-top: 180px;
}
.box-pic7 {
    margin-left: 0px;
    border: 1PX solid black;
    margin-top: 180px;
     height: 120px;
    width: 73px;
}
.box-pic-line9{
     margin-left: 0px;
    border: 1PX solid black;
     height:120px;
    width: 73px;
    margin-top:  210px;
}
.box-pic8 {
    margin-left: 0px;
    border: 1PX solid black;
    margin-top: 210px;
     height: 120px;
    width: 73px;
}
.box-pic-line10{
     margin-left: 0px;
    border: 1PX solid black;
     height: 120px;
    width: 73px;
    margin-top: 240px;
}
.box-pic9 {
    margin-left: 0px;
    border: 1PX solid black;
    margin-top: 240px;
     height: 120px;
    width: 73px;
}
.box-pic-line11{
     margin-left: 0px;
    border: 1PX solid black;
     height: 120px;
    width: 73px;
    margin-top: 270px;
}
.box-pic10 {
    margin-left: 0px;
    border: 1PX solid black;
    margin-top: 270px;
     height: 120px;
    width: 73px;
}
.box-pic2 {
    margin-left: 0px;
    border: 1PX solid black;
    margin-top: 0%;
     height: 120px;
    width: 73px;
    margin-top: 30px;
}
.box-pic11 {
display: none;
}
    .PP1 {
        margin-top: 0px;
        margin-bottom: 5px;
        margin-left:5px;
        font-size: 8px;
    }

    .PP2 {
        margin-top: 0px;
         margin-bottom: 5px;
        margin-left: 5px;
        font-size: 8px;

    }

    .PP3 {
        margin-top: 0px;
        margin-bottom: 5px;
        margin-left: 5px;
        text-decoration: line-through;
                font-size: 8px;

    }
    .ggg{
height: 50px;
width: 40px;
    }
    
.View {
    margin-left:40px;
    height: 70px;
    width: 300px;
    margin-top: 340px;
    border: 0.5 solid #1A9CB8;
    color: #1A9CB8;
}

.box-pic12{
    display: none;
}
.star{
    height: 5px;
    width: 7px;
}
.lo{
    margin-top: 0px;
padding-bottom: 0px;
height: 15px;
margin-bottom: 0px;
}
.sec{
    margin-left: 0px;
    width:39px ;
}
.sec section{
font-size:10px;
padding-left:0px ;
}
.sec li{
font-size:10px;
padding-left:0px ;
}
.sec1{
    margin-left: 20px;
}
.sec1 section{
font-size:10px;
padding-left:10px ;
}
.sec1 li{
font-size:10px;
padding-left:10px ;
}
.dd{
    height: 30px;
    width: 25px;
    margin-left: 0px;
}
.ppoo{
    width: 39px;
}
.pl1P{
    padding-left: 10px;
    font-size:10px ;
}
.apple{
    margin-left:10px;
    height: 20px;
    width: 60px;
}
.apple1{
height:20px ;
width: 60px;
margin-left: 10px;
}
.acc0{
    margin-left: 0px;
}
.w1{
    margin-left: 250PX;
    font-size: 20px;
}
.zz{
    height: 20px;
    width: 20px;
}
.accc{
    margin-left: 20px;
}
.acc0{
    gap: 10px;
}
.h1{
    font-size: 30px;
}
.fi1{
    margin-left: 10px;
    font-size: 10px;
    
}
.fi2{
    margin-left: 10px;
    font-size: 10px;
}
.P9{
    margin-left: 0px;
    font-size: 20px;
}
.p8{
    font-size: 20px;
     margin-left: 30px;
}
.mm1{
    margin-left: 20px;
}
.lol{
    margin-left: 0px;
    display: flex;

}
.q2{
    margin-left: 0px;
    height: 10px;
    width: 10px;
}
.za{
    height: 10px;
    width: 10px;
}
.lol span{
    font-size: 10px;
}
.am{
    font-size: 7px;
}
.as1{
     height: 10px;
    width: 10px;
    margin-left: 220px ;
}
.as2{
    height: 10px;
    width: 10px;
    margin-left: 2px;
}
.aaa1{
    height: 40px;
    width: 100px;
position: fixed;
right: 120px;
bottom: 10px;
}
}